{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block content %}
<h1>Account Details</h1>
<h3>Hello {{customer.name}}! You are now viewing your Account Details.</h3>
<body>
    <p>name: {{customer.name}}</p>
    <p>address: {{customer.address}}</p>
    <p>zip_code: {{customer. zip_code}}</p>
    <p>weekly_pickup_day: {{customer.weekly_pickup_day}}</p>
    <p>balance: {{customer.balance}}</p>
    <p>one_time_pickup: {{customer.one_time_pickup}}</p>
    <p>suspend_start: {{customer.suspend_start}}</p>
    <p>suspend_end: {{customer.suspend_end}}</p>
</body>

{% endblock %}