{% extends 'base.html' %}

{% block title %} Suspension Request {% endblock %}
{% block header %} Suspension Request {% endblock %}

{% block content %}

<div class="alert alert-warning" role="alert">
        Please select a suspenstion start and end date
</div>

<!-- TODO: NEED TO COME BACK TO THE DATES LATER! -->

<form name="suspension_request_form" action="{% url 'customers:suspension_request' %}" method="post">
    {% csrf_token %}
    start_date: <input type="date" name="suspension_start" id="suspension_start" value="08/06/2021" min="08/05/2021" max="12/31/2021"><br>
    stop_date: <input type="date" name="suspension_start" id="suspension_start" value="08/06/2021" min="08/05/2021" max="12/31/2021"><br>
        <button type="submit">Submit</button>
    </form>  
   
{% endblock %}